Pipelines/Full Load Pipeline.json
{
    "name": "Full Load Pipeline",
    "properties": {
        "activities": [
            {
                "name": "List SQL Tables",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT table_name, table_schema\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE'\nand table_schema = 'SalesLT';",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "SourceSQLList",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "SQL to LandingZone",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "List SQL Tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('List SQL Tables').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "SQL To Landing",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "SourceAzureSqlTable",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "table_name": {
                                            "value": "@item().table_name",
                                            "type": "Expression"
                                        },
                                        "schema_name": {
                                            "value": "@item().table_schema",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DestLandingZone",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "year": "@substring(utcnow(),0,4)",
                                        "month": "@substring(utcnow(),5,2)",
                                        "day": "@substring(utcnow(),8,2)",
                                        "file_name": {
                                            "value": "@item().table_name",
                                            "type": "Expression"
                                        },
                                        "schema_name": {
                                            "value": "@item().table_schema",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2024-05-09T08:37:31Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}